@model DateTime
@using System.Globalization;
@{
    TaiwanCalendar tc = new TaiwanCalendar();
    
}
<span style="color:red">
    @tc.GetYear(Model)/@tc.GetMonth(Model)/@tc.GetDayOfMonth(Model)
</span>